@model IEnumerable<ГеймерShop.Models.Order>

<div class="row header-game"></div>
<div class="container-fluid panel">
    <table class="table text-game">
        <thead>
            <tr>
                <th>
                    Товар
                </th>
                <th>
                    Почта
                </th>
                <th>
                    Дата
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @foreach (CartLine cart in item.GetCartObject().Lines())
                        {
                            <p>@cart.Count x @cart.Game.Name</p>
                        }
                    </td>
                    <td>
                        @item.Email
                    </td>
                    <td>
                        @item.OrderDate.ToShortDateString();
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>