<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ГеймерShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="row m-3 header-game align-items-center">
            <div class="col-3"><h1 class="logo mb-0 text-center">ГеймерShop </h1></div>
            <div class="col-6 align-self-center">
                <form class="form-inline">
                    <input class="form-control w-100 search" type="search" placeholder="Поиск" aria-label="Search">
                </form>
            </div>
            <div class="col-3">
                <div class="row h-100 align-items-center justify-content-end">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="offset-5 col-2">
                            <a asp-controller="MyCart" asp-action="MyCart" class="link-game">
                                <i class="fa fa-shopping-cart pl-2 fa-2x"></i>
                            </a>
                        </div>
                        <div class="col-5 test">
                            <a asp-controller="Account" asp-action="Logout" class="link-game">
                                <i class="fa fa-user fa-2x"></i><span class=""> @User.Identity.Name </span>
                            </a>
                        </div>
                    }
                    else
                    {
                        <div class="offset-5 col-2">
                            <i class="fa fa-shopping-cart pl-2 fa-2x"></i>
                        </div>
                        <div class="col-5">
                            <a asp-controller="Account" asp-action="Login" class="btn btn-block btn-outlined btn-game">Вход</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted panel">
        <div class="container">
            &copy; 2021 - ГеймерShop
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
