@model IEnumerable<ГеймерShop.Models.Game>

<div class="row mb-4 filter-space align-items-end">
    <form class="w-100 h-40" id="filter" asp-action="Filter">
        <div class="form-row h-100 panel align-items-center">
            <div class="form-group col-3 mb-0">
                <select id="Genres" name="Genres" class="custom-select form-control mr-5" asp-items="ViewBag.Genres"
                        onchange="$('#Genres').blur()"></select>
            </div>
            <div class="form-group col-3 mb-0">
                <select id="PlaingFields" name="PlaingFields" class="custom-select form-control mr-5" asp-items="ViewBag.PlaingFields"
                        onchange="$('#PlaingFields').blur()"></select>
            </div>
            <div class="form-group col-3 mb-0">
                <select id="Price" name="Price" class="custom-select form-control" asp-items="ViewBag.Price"
                        onchange="$('#Price').blur()"></select>
            </div>
            <div class="form-group offset-1 col-2 mb-0">
                <input type="button" value="Фильтровать" class="btn btn-outlined btn-block btn-game" onclick="filter()" />
            </div>
        </div>
    </form>
</div>


<div id="products" class="container-fluid">
    @{ List<Game> row = new List<Game>(); int counter = 0; }
    @foreach (var item1 in Model)
    {
        row.Add(item1);
        counter++;
        if (row.Count == 4 || (counter == Model.Count() && row.Count() != 0))
        {
            <div class="row justify-content-center">
                @foreach (var item2 in row)
                {
                    <div class="product-wrap">
                        <div class="product-item">
                            <img src="data:image/jpeg;base64,@(Convert.ToBase64String(item2.Picture.Image))" width="215" height="267">
                            <div class="product-buttons">
                                <button onclick="AddInCart(@item2.Id)" class="button">В корзину</button>
                            </div>
                        </div>
                        <div class="product-title">
                            <a href="Games/Details/@item2.Id">@item2.Name</a>
                            <span class="product-price">Br @item2.Price</span>
                        </div>
                    </div>
                }
                @{ row.Clear(); }
            </div>
        }
    }
</div>