/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.w-60 {
    width: 60% !important;
}

.w-40 {
    width: 40% !important;
}

.w-20 {
    width: 20% !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

thead {
    border-top: none !important;
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-image: url(/images/wp4412356.gif);
    background-size: 100%;
    background-attachment: fixed;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    border: none !important;
    color: yellow !important;
    font-family: Product;
    line-height: 60px; /* Vertically center the text there */
}

.btn-outlined.btn-game {
    background: none;
    color: yellow;
    border-color: yellow;
    border-radius: 8px;
    font-family: Product;
}

    .btn-outlined.btn-game:hover,
    .btn-outlined.btn-game:active {
        color: yellow;
        background: black;
        border-color: #00d4ff;
    }

.fa {
    color: yellow;
}



@font-face {
    font-family: "Pixel";
    src: url(/fonts/12081.ttf);
}

@font-face {
    font-family: "Logo";
    src: url(/fonts/11142.otf);
}

@font-face {
    font-family: "Product";
    src: url(/fonts/12177.ttf);
}

a {
    text-decoration: none !important;
}

.logo {
    font-family: Logo;
    color: yellow;
    font-size: 74px;
}

    .logo:hover {
        color: #00d4ff;
    }

.search {
    border-width: 4px;
    font-family: Product;
    border-color: #00d4ff;
    background: rgba(0,0,0,0.7);
    color: yellow;
}

    .search:focus {
        border-color: #00d4ff;
        background: black;
        color: yellow;
    }

.text-danger {
    font-family: Product !important;
}


.input-game {
    border-width: 4px;
    font-family: Product;
    border-color: #00d4ff;
    background: rgba(0,0,0,0.7);
    color: yellow;
}

    .input-game:focus {
        border-color: #00d4ff;
        background: black;
        color: yellow;
    }

.header-game {
    height: 100px;
}

.filter-space {
    height: 250px;
}

.card-element {
    margin: 2%;
    padding: 0%;
}

.card-body {
    width: 215px !important;
    height: 267px !important;
    padding: 0% !important;
}

* {
    box-sizing: border-box;
}

.product-wrap {
    width: 215px;
    margin: 2%;
    padding: 10px 10px 20px 10px;
    background: rgba(0,0,0,0.7);
    text-align: center;
    font-size: 14px;
    font-family: Product;
    text-transform: uppercase;
    border-width: 4px !important;
    border-radius: 8px;
    border-color: yellow !important;
    border: double;
}

img {
    border-radius: 8px;
}

.product-item {
    position: relative;
    overflow: hidden;
}

.product-wrap img {
    display: block;
    width: 100%;
}

.product-buttons {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    opacity: 0;
    transition: .3s ease-in-out;
}

.button {
    text-decoration: none !important;
    color: yellow;
    font-size: 12px;
    line-height: 36px;
    position: absolute;
    width: 140px;
    height: 40px;
    background: none;
    top: 50%;
    left: 50%;
    border: 2px solid yellow;
    transform: translate(-50%, -50%) scale(0);
    transition: .3s ease-in-out;
}

    .button:before {
        font-family: Product;
        margin-right: 10px;
    }

.product-item:hover .product-buttons {
    opacity: 1;
}

.product-item:hover .button {
    transform: translate(-50%, -50%) scale(1);
}

.button:hover {
    background: black;
    color: #00d4ff;
}

.product-title {
    color: yellow;
}

    .product-title a {
        text-decoration: none !important;
        color: yellow;
        font-weight: 600;
        margin: 5px 0 5px;
        padding-bottom: 7px;
        display: block;
        position: relative;
        transition: .3s ease-in-out;
    }

        .product-title a:after {
            content: "";
            position: absolute;
            width: 40px;
            height: 2px;
            background: yellow;
            left: 50%;
            margin-left: -20px;
            bottom: 0;
            transition: .3s ease-in-out;
        }

        .product-title a:hover {
            color: #00d4ff;
        }

    .product-title:hover a:after {
        background: yellow;
    }

.product-price {
    font-size: 20px;
    color: yellow;
    font-weight: 700;
}


.custom-select {
    background-color: black;
    background-size: 10% 50%;
    color: yellow;
    border-radius: 8px;
    height: 40px;
    width: 100%;
    border: solid 2px #00d4ff;
    font-family: Product;
}

    .custom-select:focus {
        color: yellow;
        background-color: black;
    }

    .custom-select option, option {
        background: yellow;
        color: black;
        border: 2px !important;
        border-radius: 8px !important;
        border-bottom: 4px solid deeppink !important;
        height: 30px;
        font-family: Product;
    }

.panel {
    background: rgba(0,0,0,0.7);
    border-radius: 8px;
}

.h-40 {
    height: 40%;
}

.text-game {
    font-family: Product;
    color: yellow;
}

.fa:hover {
    color: #00d4ff !important;
}

.modal-body {
    border: none;
    background: rgba(0,0,0,0.7) !important;
}

.modal-footer {
    border: none;
    background: rgba(0,0,0,0.7) !important;
}

dd {
    margin-left: 1em;
    margin-bottom: 0;
    font-size: .9rem;
}


.link-game {
    text-decoration: none !important;
    color: yellow;
    font-family: Product;
}

    .link-game:hover {
        color: #00d4ff !important;
    }
