@model string


<div class="row justify-content-cente panel">
    <div class="col text-center  pt-5 pb-5">
        <h1 class="text-game">Благодарим за покупку!</h1>
        <p class="text-game">Проверьте почту <strong>@Model</strong>. </p>
    </div>
</div>
