@model ГеймерShop.ViewModels.PaymentInfoViewModel
<div class="row header-game"></div>
<div class="container-fluid panel text-game">
    <div class="row justify-content-center pt-5 pb-5">
        <h2>Введите Email на который придёт товар</h2>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4 text-center">
            <form asp-action="PaymentInfo">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control input-game" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group pt-5">
                    <input type="submit" value="Продолжить" class="btn btn-outlined btn-game" />
                </div>
            </form>
        </div>
    </div>
    <div class="row justify-content-center pt-1 pb-5">
        <a asp-controller="MyCart" asp-action="MyCart">Отмена</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
